.logged {
    display: none;
}

.tree-card {
    position: relative;
    color: white;
    overflow: hidden;

    transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;

}

.tree-card .bg-blur {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    filter: blur(6px) brightness(0.8);
    transform: scale(1.2);
    z-index: 1;
}

.tree-card .card-body {
    position: relative;
    z-index: 2;
}

/* Hover für User-Bereich */
.user-link {
    border-radius: 8px;
    padding: 4px 6px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.user-link:hover {
    background-color: rgba(255,255,255,0.15);
    box-shadow: 0 0 8px rgba(255,255,255,0.35);
}


/* Hover für Tree-Inhalt (Titel + Beschreibung + Stats) */
.tree-link {
    display: block;
    border-radius: 10px;
    padding: 2px 4px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.tree-link:hover {
    background-color: rgba(255,255,255,0.15);
    box-shadow: 0 0 8px rgba(255,255,255,0.35);
}
