.logged {
    display: none;
}

.tree-card {
    position: relative;
    overflow: hidden;

    transition: border-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;

}

.tree-card .bg-blur {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    filter: blur(6px) brightness(0.8);
    transform: scale(1.2);
    z-index: 1;
}

.tree-card .card-body {
    position: relative;
    z-index: 2;
}

/* Hover für User-Bereich */
.user-link {
    border-radius: 8px;
    padding: 4px 6px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.square-30 {
    height: 30px;
    width: 30px;
}

.square-40 {
    height: 40px;
    width: 40px;
}

.square-64 {
    height: 64px;
    width: 64px;
}

.user-link:hover {
    background-color: rgba(255,255,255,0.15);
    box-shadow: 0 0 8px rgba(255,255,255,0.35);
}


/* Hover für Tree-Inhalt (Titel + Beschreibung + Stats) */
.tree-link {
    display: block;
    border-radius: 10px;
    padding: 2px 4px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.tree-link:hover {
    background-color: rgba(255,255,255,0.15);
    box-shadow: 0 0 8px rgba(255,255,255,0.35);
}

html { 
    scroll-behavior: smooth; 
}

section:target { 
    box-shadow: 0 0 0 4px rgba(13,110,253,0.12); 
    border-radius: 6px; 
}
